.banner{
    background: 
    linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), /* overlay hitam 80% */
    url('public/images/backgroun-2.jpg') center/cover no-repeat;      /* gambar */
    margin-bottom: 30px;
    padding: 50px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
.banner-info{
    font-size: 18px;
    color: #C1C2C4;
}
.banner h1{
    font-size: 32px;
    color: white;
}
.banner-desc{
    width: 40%;
    color: #F4F5FA;
}
.banner input{
    padding: 8px 8px 8px 32px;
    border-radius: 10px;
    width: 90%;
    border: none;
    outline: none;
    color: #B3B3B3;
}
.pesan{
    position: relative;
    width: 40%;
}
.submit{
    position: absolute;
    right: 10px;
    bottom: 2px;
    border: none;
    outline: none;
    padding: 6px 16px;
    background-color: #FFBD3A;
    color: white;
    border-radius: 10px;
}
/* ========================= */
/* RESPONSIVE BANNER */
/* ========================= */

@media (max-width: 800px) {
  .banner {
    text-align: center;
  }

  .banner-desc {
    width: 100%;
  }

  .pesan {
    width: 80%;
  }

  .submit {
    position: static;
    width: 100%;
    margin-top: 10px;
  }
}
