*,body{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", "Poppins", Arial;
}
body{
    background-color: #FFFDF3;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 10%; /* ini space kanan kiri di gambar */
}


