.hero {
  background:
    linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url("/src/assets/images/background.jpg") center / cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
  border-radius: 10px;
}

.hero-content {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-content h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 5vw, 48px);
  line-height: 110%;
  max-width: 800px;
}

.hero-content p {
  max-width: 700px;
  margin: 0 auto;
}

.hero-content button {
  align-self: center;
  padding: 10px 26px;
  border-radius: 10px;
  background-color: #3ECF4C;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

/* ========================= */
/* RESPONSIVE HERO */
/* ========================= */

@media (max-width: 640px) {
  .hero h1 {
    font-size: 28px;
    line-height: 1.3;
  }

  .hero p {
    font-size: 14px;
  }

  .hero button {
    width: 100%;
  }
}
